body{
    background-color: rgb(206, 206, 120);
}
h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: 30px;
}
a{
    color: rgb(155, 73, 73);
    text-decoration:underline;
    font-size: 20px;
    margin:100px;
}
#time-frame{
    width: 30vw;
    height:8vh;
    background-color: black;
    margin-top: 20vh;
    margin-left: 35vw;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 30px;
}
p.start-over{
    text-align: center;
}
a:hover{
cursor: pointer;
color: aliceblue;
}