body{
    background-color: rgb(206, 206, 120);
}
h1{
    text-align: center;
}
p{
    /* text-align: center; */
    font-size: 20px;
    margin-left: 30px;
}
a{
    color: rgb(155, 73, 73);
    text-decoration:underline;
    font-size: 20px;
    margin:10px;
}
#time-frame{
    position: absolute;
    width: 30vw;
    height:8vh;
    background-color: black;
    /* margin-left: 35vw; */
    top: 190vh;
    left: 40vw;
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 30px;
}